


.container {
    box-sizing: border-box;
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #C80000;
    background-color: black;
    justify-content: space-evenly;
}

.square {
    flex: 0 0 calc(100% / var(--grid-count));
    aspect-ratio: 1;
    background-color: #b2b6b2;
    border: 1px solid black;
}

